body {
    word-break: keep-all;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* .btn {
    transition: 0.4s ease-in-out;
} */
.btn:focus {
    border-radius: 6px;
    outline-offset: 2px;
    outline: 2px solid rgba(36, 107, 235, 0.8);
}
.btn-txt:hover {
    border-radius: 6px;
    background-color: #EDF1F5;
}