#g-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
}
#g-wrap .inner {
    max-width: 1920px;
    min-width: 1024px;
}
#header-top {
    width: 100%;
    background-color: #EDF1F5;
}
#header-top .inner {
    padding: 8px 16px;
}
#header-top .toggle-head .nuri-txt {
    font-size: 15px;
}
#header-top .toggle-head .btn {
    color: #003675
}
#header-top .toggle-body {
    
}
#header-top .toggle-body:before {
    display: flex;
    content: "";
    border-top: 1px solid #CDD7E4;
}
#header-top .toggle-body .inner {
    padding: 24px 16px;
}