#g-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
}
/* #g-wrap .inner {
    max-width: 1920px;
    min-width: 1024px;
} */

/* 공식 배너 */
#header-top {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: #EDF1F5;
}
#header-top .inner {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 8px 16px;
    width: 100%;
    max-width: 1300px;
}
#header-top .toggle-head .nuri-txt {
    line-height: 15px;
    font-size: 15px;
}
#header-top .toggle-head .btn {
    display: flex;
    align-items: center;
    gap: 2px;
    line-height: 16px;
    font-size: 14px;
    color: #003675;
}
#header-top .toggle-head .btn:after {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/ico_arr_20_down_blue.svg") no-repeat center/contain;
    transition: 0.4s ease-in-out;
}
#header-top .toggle-head .btn.active:after {
    transform: rotate(-180deg)
}
#header-top .toggle-body {
    overflow: hidden;
    height: 0;
    transition: 0.4s ease-in-out;
}
#header-top .toggle-body:before {
    display: flex;
    content: "";
    border-top: 1px solid #CDD7E4;
}
#header-top .toggle-body .inner {
    padding: 24px 16px;
}

/* 헤더 상단 기타메뉴 */
#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #D8D8D8;
    width: 100%;
    background-color: #fff;
}
#header .head-body .inner {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
    padding: 4px 10px 16px;
    width: 100%;
    max-width: 1300px;
}
#header .head-etc {
    display :flex;
    justify-content: flex-end;
}
#header .head-etc .etc-ul {
    display: flex;

}
#header .head-etc .etc-ul .li {
    display: flex;
    align-items: center;
}
#header .head-etc .etc-ul .li:not(:first-child) {
    gap: 8px;
    margin-left: 8px;
}
#header .head-etc .etc-ul .li:not(:first-child):before {
    display: inline-flex;
    content: "";
    width: 1px;
    height: 16px;
    background-color: #D8D8D8;
}
#header .head-etc .etc-ul .li .btn {
    display: flex;
    align-items: center;
    gap: 2px;
    height: 32px;
    font-size: 15px;
    color: #1D1D1D;
}
#header .head-etc .etc-ul .li .ico-go:after {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/ico_go_20.svg") no-repeat center/contain;
}
#header .head-etc .etc-ul .li .ico-arr-down:after {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background: url("../images/ico_arr_16_down.svg") no-repeat center/contain;
}
.krds-drop-wrap {
    position: relative;
}
.krds-drop-wrap .drop-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 50;
    margin-top: 16px;
    padding: 8px;
    border:1px solid #D8D8D8;
    border-radius: 8px;
    min-width: 130px;
    background-color: #fff;
    box-shadow: 0 0.4rem 1.2rem 0 rgba(0, 0, 0, 0.12);
    transform: translateX(-50%);
}
.krds-drop-wrap .drop-menu:before {
    display: inline-flex;
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 12px;
    background: url("../images/ico_drop_arr.svg") no-repeat center/contain;
    transform: translateX(-50%);
}
.krds-drop-wrap .drop-menu .drop-in {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.krds-drop-wrap .drop-menu .drop-list .item-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    border-radius: 6px;
    height: 48px;
    font-size: 17px;
}
.krds-drop-wrap .drop-menu .drop-list .item-link:hover {
    background-color: #EDF1F5;
}
.krds-drop-wrap.zoom-drop .item-link:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    content: "가";
    padding: 0 4px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    box-sizing: border-box;
}
.krds-drop-wrap.zoom-drop .item-link.xsm::before {
    width: 21px;
    height: 21px;
    font-size: 15px;
}
.krds-drop-wrap.zoom-drop .item-link.sm::before {
    width: 24px;
    height: 24px;
    font-size: 17px;
}
.krds-drop-wrap.zoom-drop .item-link.md::before {
    width: 25px;
    height: 25px;
    font-size: 19px;
}
.krds-drop-wrap.zoom-drop .item-link.lg::before {
    width: 27px;
    height: 27px;
    font-size: 21px;
}
.krds-drop-wrap.zoom-drop .item-link.xlg::before {
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.krds-drop-wrap.zoom-drop .item-link.active {
    font-weight: 700;
    color: #003675;
    background-color: #EDF1F5;
}
.krds-drop-wrap.zoom-drop .item-link.active::before {
    color: #fff;
    background-color: #003675;
}
.krds-drop-wrap .drop-menu .drop-btm-btn {
    display: flex;
    justify-content: center;
    padding: 8px 16px 0;
    border-top: 1px solid #D8D8D8;
}
.krds-drop-wrap .drop-menu .drop-btm-btn .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 4px !important;
    height: 40px !important;
    font-size: 17px !important;
    color: #1D1D1D;
}
.krds-drop-wrap .drop-menu .drop-btm-btn .btn:before {
    display: inline-flex;
    content:"";
    width: 20px;
    height: 20px;
    background: url("../images/ico_refresh_16.svg") no-repeat center/contain;
}

/* 헤더 */
#header .head-body .head-in {
    display: flex;
    align-items: center;
}
#header .head-body .logo a {
    display: flex;
    align-items: center;
    gap: 32px;
}
#header .head-body .right {
    display: flex;
    gap: 8px;
    margin-left: auto;
}
#header .head-body .btn-navi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 4px 12px;
    height: 61px;
    font-size: 17px;
    font-weight: 700;
    color: #1D1D1D;
}
#header .head-body .btn-navi::before {
    display: inline-flex;
    content: "";
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}
#header .head-body .btn-navi:hover {
    border-radius: 6px;
    background-color: #EDF1F5;
    transition: 0.4s ease-in-out;
}
#header .head-body .btn-navi.sch::before {
    background-image: url("../images/head_ico_navi_sch.svg");
}
#header .head-body .btn-navi.login::before {
    background-image: url("../images/head_ico_navi_login.svg");
}
#header .head-body .btn-navi.join::before {
    background-image: url("../images/head_ico_navi_join.svg");
}
#header .head-body .btn-navi.my::before {
    background-image: url("../images/head_ico_navi_my.svg");
}
.krds-drop-wrap.my-drop .drop-menu {
    width: 210px;
}
.krds-drop-wrap .drop-menu .drop-top-info {
    padding: 16px 16px 6px;
    border-bottom: 1px solid #D8D8D8;
}
.krds-drop-wrap.my-drop .my-name {
    margin-bottom: 16px;
    font-size: 19px;
    font-weight: 700;
}
.krds-drop-wrap.my-drop .my-time dt {
    font-size: 15px;
    color: #555;
}
.krds-drop-wrap.my-drop .my-time dd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}
.krds-drop-wrap.my-drop .my-time .time {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 15px;
    color: #1D56BC;
}
.krds-drop-wrap.my-drop .my-time .time::before {
    display: inline-flex;
    content: "";
    width: 16px;
    height: 16px;
    background:url("../images/ico_time_16.svg") no-repeat center/contain
}
.krds-drop-wrap.my-drop .my-time .btn {
    height: 40px;
    font-size: 17px;
}
.krds-drop-wrap.my-drop .drop-btm-btn .btn:before {
    background-image: url("../images/ico_login_20.svg");
}

/* 메뉴 영역 */
#header .head-gnb {
    border-top: 1px solid #D8D8D8;
}
#header .head-gnb .inner {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1300px;
}
#header .head-gnb .gnb {
    display: flex;
    gap: 16px;
}
#header .head-gnb .gnb .li a {
    display: flex;
    align-items: center;
    gap: 8px;
}
#header .head-gnb .gnb .li .mn {
    padding: 4px 16px 0;
    border-bottom: 4px solid transparent;
    height: 62px;
    font-size: 19px;
    font-weight: 700;
    color: #555;
}
#header .head-gnb .gnb .li .mn::after {
    display: inline-flex;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/head_gnb_ico_arr.svg") no-repeat center/contain
}
#header .head-gnb .gnb .li .mn:not(.open):hover {
    border-color: #003675;
    color: #003675;
    background-color: #fff;
}
#header .head-gnb .gnb .li .mn:not(.open):hover::after {
    background-image: url("../images/head_gnb_ico_arr_on.svg");
}
#header .head-gnb .gnb .li .mn.open {
    color: #1D1D1D;
    background-color: #CDD7EA
}
#header .head-gnb .gnb .li .mn.open::after {
    transform: rotate(-180deg)
}
#header .w-gnb-wrap {
    display: none;
    position: absolute;
    top: 185px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
#header .w-gnb-wrap.is-open {
    display: block;
}
#header .w-gnb-wrap .inner {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1300px;
}
#header .w-gnb-wrap .w-gnb-menu {
    display: flex;
    background-color: #EDF1F5;
}
#header .w-gnb-wrap .w-gnb-menu .menu-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0;
    width: 260px;
}
#header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 24px;
    width: 100%;
    height: 56px;
    font-size: 17px;
    font-weight: 700;
}
#header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm.active {
    color: #003675;
    background-color: #fff;
}
#header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm:hover {
    background-color: #fff;
    transition: 0.4s ease-in-out;
}
#header .w-gnb-wrap .w-gnb-menu .menu-wrap .ul .sm.ico-go::after {
    display: inline-flex;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/ico_go_20.svg") no-repeat center/contain;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap {
    flex: 1;
    background-color: #fff;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .submenu-in {
    display: none;
    flex-direction: column;
    gap: 24px;
    padding: 24px 40px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .submenu-in.active {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-in {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit {
    display: flex;
    align-items: center;
    height: 56px;
    font-size: 25px;
    font-weight: 700;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-tit .btn:after {
    display: inline-flex;
    content: "";
    width: 24px;
    height: 24px;
    background: url("../images/ico_arr_20_right.svg") no-repeat center/contain;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul {
    display: flex;
    flex-wrap: wrap;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul li {
    flex: 1 0 25%
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 8px;
    font-size: 17px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ul a::before {
    content: "･";
    margin-top: 4px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ban {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: #F8F8F8;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ban .krds-badge {
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    height: 24px;
    font-size: 15px;
    color: #fff;
    background-color: #246BEB;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ban .btn {
    height: 40px;
}
#header .w-gnb-wrap .w-gnb-menu .submenu-wrap .sub-ban .btn:after {
    display: inline-flex;
    content: "";
    width: 20px;
    height: 20px;
    background: url("../images/ico_arr_20_right.svg") no-repeat center/contain;
}
.w-gnb-dim {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.btn-navi.all {
    display: none !important;
}

/* 풋터 */
#footer {
    position: relative;
    z-index: 100;
    background-color: #F8F8F8;
}